* {box-sizing: border-box;}

body {
  font-family: Arial, Helvetica, sans-serif;
  color:#333333;
  max-width:90%;
  margin:0 auto;
}
h1 {
  font-size:2.5rem;
  margin:1rem 0 .3rem .5rem;
}
.schedule, .prereq {
  font-size:.9rem;
  font-style:italic;
}
.schedule:before, .prereq:before {
  content:"Schedule:";
  font-weight:bold;
  margin-right:0.2rem;
}
.prereq:before {
  content:"Prerequisites:";
}
.price {
  font-size:1.3rem;
  text-align:center;
  font-weight:bold;
}
main {
  width:75%;
  float:left;
}
main img {
  max-width:100%;
}
.lessonContent, .classContent {
  width:30%;  
  float:left;
  padding:0 1rem .5rem;
  background-color:#fff;
  margin:1rem 1.5%
}
#instructors section img {
    float: left;
    width: 30%;
  margin-right:1rem;
  margin-bottom:1rem;
}
#instructors main section {
    padding-right: 1rem;
  clear:both;
}
#home main {
  padding:0 1rem .5rem;
}
#home main img, #home main video {
  width:50%;
}
aside {
  width:25%;
  float:right;
  margin-top:5rem;
  background:#E3DBC8;
  padding:0 .5rem;
}
.sideFeatured {
  padding:.5rem 0;
}
.sideFeatured h3 {
  border-bottom:1px solid #333;
}
.featuredButton, .purchaseButton {
  font-weight:bold;
  padding:.5rem 2rem;
  background:#9c0;
  color:#ffffff;
  border-radius:5px;
  width:80%;
  display:block;
  margin:.5rem auto;
  text-align:center;
  transition:background 300ms;
}
.featuredButton {
  background:#888;
}
.purchaseButton:hover {
  background:#888;
}
.featuredButton:hover {
  background:#333;
}
footer {
  clear:both;
}
/***** adding Sean's styles *****/
header{
	margin: 1em 1em 0 2em;
	padding: 0;
}
header p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
	margin:0;
	padding: 4em 0 0 0;
	color: #660;
}
header img{
	width: 4em;
	height: 4em;
	float: left;
	margin: 0 1em 1em 0;
	border: none;
}
nav{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
}
ul{
	clear: both;
	margin:0;
}
ul li{
	display:inline;
	list-style:none;
	padding: 0 5% 0 0;
}
footer{
	background-color:#E3DBC8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 2em 1em 2em 1em;
	text-align:right;
}
footer li img{
	width: 3em;
	height: 3em;
}
nav a:link{
	color:#9C0;
	text-decoration:none;
}	
nav a:active{
	color:#9FC;
	text-decoration:none;
}
nav a:visited{
	color:#9C0;
	text-decoration:none;
}
footer a:hover{
	color:#660;
	text-decoration:none;
}
footer a:link{
	color:#9C0;
	text-decoration:none;
}	
footer a:active{
	color:#9FC;
	text-decoration:none;
}
footer a:visited{
	color:#9C0;
	text-decoration:none;
}
footer a:hover{
	color:#660;
	text-decoration:none;
}
.offscreen {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
